@model IEnumerable<TakeAction.Models.EmployeeListItem>

@{
    ViewBag.Title = "Index";
}

<h2 style="color:white;font-size: 70px"><center>Employees</center></h2>

<p>
    <center>@Html.ActionLink("Create New", "Create")</center>
</p>

@if (TempData.ContainsKey("SaveResult"))
{<div class="alert alert-success fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}

<body>
    <div class=" employee-board">
        @foreach (var item in Model)
        {
            <div class=" employee-container col-md-4" style="text-align:center">
                <div class="employee-card" ; color: black>
                    <div class="employee-head">
                        <b>@Html.DisplayFor(model => item.EmployeeFullName)</b>
                    </div>
                    <div class="employee-body">
                        <div class="employee-category">
                            Manager:
                            @Html.DisplayFor(model => item.ManagerFullName)
                        </div>
                        <div>
                            @Html.DisplayFor(model => item.Dept)
                        </div>
                        <div>
                            @Html.DisplayNameFor(model => model.HiredDate):
                            @Html.DisplayFor(modelItem => item.HiredDate)
                        </div>
                        <div style="color: black">
                            @Html.ActionLink("Assignments", "EmployeesByManagerId")
                        </div>
                    </div>
                    <div class="employee-links">
                        @Html.ActionLink("Edit", "Edit", new { id = item.EmployeeId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.EmployeeId })|
                        @Html.ActionLink("Delete", "Delete", new { id = item.EmployeeId })
                    </div>
                </div>
            </div>
        }
    </div>
</body>
