@model TakeAction.Models.Assignment.AssignmentDetail

@{
    ViewBag.Title = "Details";
}

@if (TempData.ContainsKey("SaveResult"))
{<div class="alert alert-success fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}
<h2 style="color:white;font-size: 70px"><center>Assignment Details</center></h2>

<hr />
<div class="createemployee-card" ; color: black; style="height: 750px">
    <div class=" createemployee-container col-md-12" style="text-align:center">
        <div style="font-size: 25px; padding-top: 10px; width: 20%; margin:0px auto; display:block">
            <dt>
                @Html.DisplayNameFor(model => model.AssignmentId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AssignmentId)
            </dd>
        </div>
        <div style="font-size: 25px; padding-top: 10px; width: 20%; margin:0px auto; display:block">
            <dt>
                @Html.DisplayNameFor(model => model.EmployeeFullName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EmployeeFullName)
            </dd>
        </div>
        <div style="font-size: 25px; padding-top: 10px; width: 20%; margin:0px auto; display:block">
            <dt>
                @Html.DisplayNameFor(model => model.TaskName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TaskName)
            </dd>
        </div>
        <div style="font-size: 25px; padding-top: 10px; width: 20%; margin:0px auto; display:block">
            <dt>
                @Html.DisplayNameFor(model => model.TaskSummary)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TaskSummary)
            </dd>
        </div>
        <div style="font-size: 25px; padding-top: 10px; width: 20%; margin:0px auto; display:block">
            <dt>
                @Html.DisplayNameFor(model => model.DueDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DueDate)
            </dd>
        </div>
        <div style="font-size: 25px; padding-top: 10px; width: 20%; margin:0px auto; display:block">
            <dt>
                @Html.DisplayNameFor(model => model.AssignerFullName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AssignerFullName)
            </dd>
        </div>
        <div style="font-size: 25px; padding-top: 10px; width: 20%; margin:0px auto; display:block">
            <dt>
                @Html.DisplayNameFor(model => model.AssignedDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AssignedDate)
            </dd>
        </div>
        <div style="font-size: 25px; padding-top: 10px; width: 20%; margin:0px auto; display:block">
            <dt>
                @Html.DisplayNameFor(model => model.Flagged)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Flagged)
            </dd>
        </div>
        <div style="font-size: 25px; padding-top: 10px; width: 20%; margin:0px auto; display:block">
            <dt>
                @Html.DisplayNameFor(model => model.Completed)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Completed)
            </dd>
        </div>


    </div>
</div>
<p>
    <center>@Html.ActionLink("Edit", "Edit", new { id = Model.AssignmentId })</center>
    <center>@Html.ActionLink("Back to List", "Index")</center>
</p>
